
.overflow-x-auto
  .min-w-screen.min-h-full.bg-gray-100.flex.items-center.justify-center.font-sans.overflow-hidden
    .w-full{:class => "lg:w-3/4"}
      %img.mx-auto.h-60.mt-4{ src: 'https://japaclip.com/files/shrine-torii.png'}
      - if logged_in_user.present?
        = form_with scope: :omikuji, local: true, class: "my-4 flex" do |f|
          = f.text_field :name, placeholder: '大吉', required: true, class: 'w-3/4 rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white'
          %button.px-8.rounded-r-lg.bg-yellow-400.text-gray-800.font-bold.p-4.uppercase.border-yellow-500.border-t.border-b.border-r{class: 'w-1/4'}
            おみくじを作成
      .bg-white.shadow-md.rounded.my-6
        %table.w-full.table-fixed
          %thead
            %tr.bg-gray-200.text-gray-600.uppercase.text-sm.leading-normal
              %th.py-3.px-6.text-left{class: 'w-9/12'} おみくじ
              %th.py-3.px-6.text-left{class: 'w-2/12'} ユーザ
              %th.py-3.px-6.text-center{class: 'w-1/12'} 操作
          %tbody.text-gray-600.text-sm.font-light
            - @omikujis.each do |omikuji|
              %tr.border-b.border-gray-200.hover:bg-gray-100
                %td.py-3.px-6.text-left.whitespace-nowrap
                  .flex.items-center
                    %span.font-medium
                      = omikuji.name
                %td.py-3.px-6.text-left
                  .flex.items-center
                    .mr-2
                      %img.w-6.h-6.rounded-full{src: omikuji.user.image_url}/
                    %span
                      = omikuji.user.name
                %td.py-3.px-6.text-center
                  .flex.item-center.justify-center
                    -# .w-4.mr-2.transform.hover:text-purple-500.hover:scale-110
                    -#   %svg{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                    -#     %path{:d => "M15 12a3 3 0 11-6 0 3 3 0 016 0z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
                    -#     %path{:d => "M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
                    -# .w-4.mr-2.transform.hover:text-purple-500.hover:scale-110
                    -#   %svg{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                    -#     %path{:d => "M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
                    - if logged_in_user.present? && logged_in_user == omikuji.user
                      .w-4.mr-2.transform.hover:text-purple-500.hover:scale-110
                        = link_to omikuji, method: :delete, data: { confirm: "#{omikuji.name} を削除しますか？" } do
                          %svg{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                            %path{:d => "M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
